.container-info {
    background-image: url("Imagens_Figma/pexels-lureofadventure-28365967\ 2.png");
    background-color: #1E1E1ECF;
    background-size: cover;
    background-position: center;
    height: 1379px;
    width: 100%; /* ou qualquer altura que quiser */
    position: relative;
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

.overlay {    /*cor por cima da foto*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1E1E1ECF; /* Cor semitransparente */
    z-index: 1; /* Coloca a camada de cor acima da imagem */
    justify-content: center;
    display: flex;
    align-items: center;
    height: 1379px;
}

.img-card {
    width: 680px;
    height: 367px;
    margin: 20px;
    border-radius: 35px;
    overflow: hidden;
    display: flex; /* Adicionado para controlar a imagem */
}


.card-img-top {
    width: 100%; /* Para a imagem ocupar 100% da largura */
    height: 367px; /* Tamanho fixo para a imagem, ajuste conforme necessário */
    object-fit: cover;
}

.card {
    width: 736px;
    height: 1262px;
    border-radius: 15px; /* Um pouco de arredondamento para o card */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow: hidden; /* Para não deixar a imagem sair do card */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Garante que o conteúdo dentro do card fique distribuído */
    font-family: 'Jura';
    font-size: 700;
    overflow: hidden;
    justify-items: center;
    align-items: center;
}

.card-text {
    font-size: bold;
    padding: 20px;
    background-color:#D9D9D9;
    ;
}

.card-title {
    margin-bottom: revert;
}

.card-body {
    justify-items: center;
    align-items: center;
    background-color:#D9D9D9;
}

.button-info {
    background-color: #686931;
    color: black;
    border: none;
    width: 345px;
    height: 76px;
    justify-content: center;
    border-radius: 15px;
}