.container-info {
  background-image: url("Imagens_Figma/pexels-lureofadventure-28365967\ 2.png");
  background-color: #1e1e1ecf;
  background-size: cover;
  background-position: center;
  height: 1379px;
  width: 100%;
  position: relative;
  margin: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.modal-backdrop {
  opacity: 0.7 !important;
}

.img-card {
  border-radius: 35px;
  overflow: hidden;
  display: flex; /* Adicionado para controlar a imagem */
  margin: 4%;
}

.card-img-top {
  width: 100%; /* Para a imagem ocupar 100% da largura */
  height: 367px; /* Tamanho fixo para a imagem, ajuste conforme necessário */
  object-fit: cover;
}

.modal-content {
  border-radius: 35px !important; /* Um pouco de arredondamento para o card */
  background-color: #d9d9d9 !important;
}

.footer-button {
  justify-content: center;
  padding-bottom: 20px;
}

.card-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 118%;
  font-family: "Jura";
  padding: 30px;
}

.card-title {
  margin-bottom: revert;
  font-size: 30px;
  font-weight: bold;
  font-family: "Jura";
  font-size: 30px;
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
}

.check-bullets {
  list-style-type: none;
  padding-left: 0;
  list-style-position: outside;
}

.check-bullets {
  list-style-type: none;
}

.card-body {
  justify-items: center;
  align-items: center;
  background-color: #d9d9d9;
}

.button-info {
  background-color: #686931;
  color: black;
  border: none;
  width: 345px;
  height: 76px;
  justify-content: center;
  font-family: "Jura";
  border-radius: 15px;
  font-weight: bold;
  font-size: 25px;
}
