.container-info {
  background-image: url("Imagens_Figma/pexels-lureofadventure-28365967\ 2.png");  /* imagem fundo*/
  background-color: #1e1e1ecf;
  background-size: cover;
  background-position: center;
  height: 1379px;
  width: 100%;
  position: relative;
  margin: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.modal-backdrop {
  opacity: 0.7 !important;   /*opacidade*/
}

.img-card { 
  border-radius: 35px;  /*bordas arredondadas da imagem*/
  overflow: hidden;
  display: flex; 
  margin: 4%;
}

.card-img-top {
  width: 100%; /* Para a imagem ocupar 100% da largura */
  height: 367px; /* Tamanho fixo para a imagem */
  object-fit: cover;
}

.modal-content {
  border-radius: 35px !important; /* arredondamento para a modal */
  background-color: #d9d9d9 !important;
}

.footer-button {    /*estilização do footer*/
  justify-content: center;
  padding-bottom: 20px;
}

.card-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 118%;
  font-family: "Jura";
  padding: 30px;
}

.card-title {
  margin-bottom: revert;
  font-size: 30px;
  font-weight: bold;  /*negrito*/
  font-family: "Jura";  /*tipo de letra*/
  font-size: 30px;
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
}

.check-bullets {
  list-style-type: none;  /*retirar pontos para ficar apenas o check*/
  padding-left: 0;
  list-style-position: outside;   /*alinhar ao texto (ponto a esquerda)*/
}

.check-bullets {
  list-style-type: none;
}

.card-body {
  justify-items: center;
  align-items: center;
  background-color: #d9d9d9;  /*dor da modal*/
}

.button-info {     /*botao modal*/
  background-color: #686931;  /*cor botao*/
  color: black;  /*cor das letras do botao*/
  border: none;  /*sem borda*/
  width: 345px;
  height: 76px;
  justify-content: center;
  font-family: "Jura";  /*tipo de letra*/
  border-radius: 15px; /*arredondamento*/
  font-weight: bold; /*negrito*/
  font-size: 25px;
}
